<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeira</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="./style_01.css">
</head>
<body>

    <header>
        <h1>Manoel Bandeira</h1>
    </header>

    <section id="photo">
        <img src="./images/manuel_bandeira.jpg" alt="ManuelBandeira">
    </section>

    <section id="poem">
        <h3>
            Poética
        </h3>
        <p>
            Estou farto do lirismo comedido<br>
            Do lirismo bem comportado<br>
            Do lirismo funcionário público com livro de ponto expediente<br>
            protocolo e manifestações de apreço ao sr. diretor.<br>
            Estou farto do lirismo que para e vai averiguar no dicionário<br>
            o cunho vernáculo de um vocábulo.<br>
            Abaixo os puristas<br>
            Todas as palavras sobretudo os barbarismos universais<br>
            Todas as construções sobretudo as sintaxes de exceção<br>
            Todos os ritmos sobretudo os inumeráveis<br>
            Estou farto do lirismo namorador<br>
            Político<br>
            Raquítico<br>
            Sifilítico<br>
            De todo lirismo que capitula ao que quer que seja<br>
            fora de si mesmo<br>
            De resto não é lirismo<br>
            Será contabilidade tabela de co-senos secretário do amante<br>
            exemplar com cem modelos de cartas e as diferentes<br>
            maneiras de agradar às mulheres, etc<br>
            Quero antes o lirismo dos loucos<br>
            O lirismo dos bêbedos<br>
            O lirismo difícil e pungente dos bêbedos<br>
            O lirismo dos clowns de Shakespeare<br>
            <br>
            — Não quero mais saber do lirismo que não é libertação.<br>
        </p>
    </section>

    <footer>
        <p>Desenvolvido por <a href="https://github.com/tchuby">Tchuby</a>.</p>
    </footer>  

</body>
</html>