<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brilhante</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style_06.css">
</head>
<body>
    
    <section id="title">
        <h1>Brilhante</h1>
        <p>
            Projeto de Conclusão de Curso de alunos de Design 
            abrange a saúde mental dos jovens através de uma 
            animação
        </p>
    </section>
    
    <section id="photo">
        <img src="image/brilhante.jpg">
    </section>
    
    <section id="video">
        <video controls>
            <source src="video/brilhante.mp4" type="video/mp4">
        </video>
    </section>
    
    <section id="summary">
        <p>
            Em um mundo onde lâmpadas brilham dependendo do seu 
            estado emocional, um jovem se sente perdido com sua 
            lâmpada apagada. Siga Brilhante em sua jornada em 
            busca do seu brilho próprio.
        </p>
        <p>
            Projeto de graduação do curso de Design de Projeto 
            Visual da Universidade Positivo desenvolvido por:
        </p>
        <p>
            Bruno Henrique Stoco Stdrezk
        </p>
        <p>
            Lucyanna Gonçalves
        </p>
        <p>
            Maria Isabel Pereira de Deus
        </p>
    </section>

</body>
</html>