<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Austríaca</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="./style_05.css">
</head>
<body>

    <section id="title">
        <h1>Teoria do Valor Subjetivo</h1>
    </section>

    <section id="summary">
        <p>
            A teoria do valor subjetivo apresenta um contraponto 
            significativo à teoria do valor-trabalho, que foi 
            proeminente nas análises econômicas anteriores. 
            Enquanto a teoria do valor-trabalho sugere que o 
            valor de um bem é determinado pela quantidade de 
            trabalho necessária para produzi-lo, a teoria do 
            valor subjetivo destaca que o valor é, na verdade, 
            uma construção subjetiva baseada na utilidade 
            percebida pelos indivíduos. 
        </p>
    </section>

    <section id="author">
        <p>
            Carl Menger foi um economista austríaco pioneiro e uma 
            figura central na fundação da Escola Austríaca de 
            Economia. Reconhecido por sua obra seminal "Princípios 
            de Economia Política", publicada em 1871, Menger 
            revolucionou o pensamento econômico ao desenvolver a 
            teoria do valor subjetivo.
        </p>
    </section>

    <section id="article">
        <p>
            A teoria do valor subjetivo é um conceito fundamental 
            na economia, especialmente dentro da tradição da 
            Escola Austríaca de Economia. Essa teoria argumenta 
            que o valor de um bem ou serviço é determinado pela 
            utilidade que os indivíduos atribuem a ele, baseada em 
            suas preferências e necessidades individuais. Em outras
             palavras, o valor de algo não é intrínseco ao objeto 
             em si, mas sim resultado das percepções e avaliações 
             subjetivas dos indivíduos. Isso significa que um mesmo 
             bem pode ter valores diferentes para pessoas diferentes 
             ou até para a mesma pessoa em momentos diferentes, 
             dependendo de suas circunstâncias e preferências.
        </p>
        <p>
            Essa abordagem desafia conceitos econômicos mais antigos, 
            como a teoria do valor-trabalho, que postulava que o 
            valor de um bem era determinado pela quantidade de 
            trabalho necessária para produzi-lo. A teoria do valor 
            subjetivo destaca a importância da demanda do consumidor 
            na formação de preços e na alocação de recursos na 
            economia. Ela sugere que a troca voluntária no mercado é 
            um processo pelo qual as pessoas buscam maximizar sua 
            satisfação pessoal, negociando com base em suas 
            percepções individuais de valor. Essa compreensão 
            subjetiva do valor tem implicações profundas para a 
            análise econômica e para as políticas públicas, 
            influenciando áreas como precificação, teoria do 
            consumidor e análise de bem-estar.
        </p>
    </section>
    
</body>
</html>