<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O Cortiço</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style_02.css">
</head>
<body>
    <header>
        <h1>O Cortiço</h1>
    </header>
    <section id="summary">
        <p>
            "O Cortiço", obra de Aluísio Azevedo, é um retrato
            vívido da vida nos cortiços do Rio de Janeiro do século XIX,
            onde os personagens são marcados pela luta pela sobrevivência
            e pela busca por ascensão social. A trama gira em torno de
            João Romão, um português ambicioso que constrói um cortiço e
            se torna um homem de posses. Ele se envolve com Bertoleza, uma
            ex-escrava, e com Rita Baiana, uma prostituta que atrai a
            atenção de vários homens do cortiço. A obra apresenta uma
            narrativa realista que revela os aspectos mais sombrios da
            sociedade da época, incluindo a exploração dos mais pobres e
            as relações de poder baseadas na exploração e na dominação.
        </p>
        <p>
            No ambiente do cortiço, Aluísio Azevedo destaca as relações
            interpessoais complexas, os conflitos de classe e os instintos
            humanos mais primitivos, como a ganância, o desejo e a
            violência. A descrição das condições miseráveis de vida, a
            exploração do trabalho e a promiscuidade retratam de forma
            contundente a realidade das camadas mais baixas da sociedade.
            Por meio de personagens multifacetados e de uma narrativa densa,
            o autor tece uma crítica social implacável, evidenciando como as
            condições socioeconômicas moldam as vidas das pessoas e como a
            ambição desenfreada pode levar à degradação moral e à ruína.
            "O Cortiço" é, assim, uma obra que não apenas retrata o ambiente
            urbano e social do Rio de Janeiro da época, mas também questiona
            as estruturas de poder e as relações humanas em um contexto
            marcado pela desigualdade e pela injustiça.
        </p>
    </section>

    <section id="cover">
        <img src="./images/capa.jpg" alt="capa_o_cortiço">
    </section>

    <section id="about">
        <h3>Aluísio Azevedo </h3>
        <p>Aluísio Azevedo foi um dos principais representantes do
            naturalismo na literatura brasileira do século XIX.
            Nascido em São Luís do Maranhão em 1857, mudou-se para
            o Rio de Janeiro aos dezoito anos para estudar na Escola
            Politécnica. Porém, abandonou os estudos para dedicar-se
            à literatura e ao jornalismo. Sua obra mais conhecida,
            "O Cortiço", publicada em 1890, é um marco do naturalismo
            no Brasil, destacando-se por sua abordagem realista e
            crítica da sociedade da época, especialmente das camadas
            mais marginalizadas. Azevedo também escreveu outras obras
            importantes, como "O Mulato" e "Casa de Pensão", que
            exploram temas como o preconceito racial e os conflitos
            sociais. Sua contribuição para a literatura brasileira foi
            fundamental para a consolidação do realismo/naturalismo no
            país, influenciando gerações posteriores de escritores.
            Aluísio Azevedo faleceu em 1913, deixando um legado
            literário marcante e duradouro.</p>
    </section>
</body>
</html>