.{
    font-family: 'Raleway', sans-serif;
    color:darkslategray;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
                         "summary cover"
                         "about about";
    padding: 20px;
}

header {
    grid-area: header;
    background-color: gray;
    text-align: center;
}

header h1 {
    font-size: 30px;
    padding: 20px;
}

#summary {
    grid-area: summary;
    background-color: lightgrey;
    text-align: justify;
    margin: 20px 10px 20px 0px;
    padding: 10px;
}

#cover {
    grid-area: cover;
    padding: 20px 0px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#cover img {
    width: auto;
    max-height: 500px;
}

#about {
    grid-area: about;
    background-color: lightgrey;
    text-align: justify;
    padding: 10px;
}

#about h3 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}