<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinela</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <div id="logo">Chinela</div>
        <div id="menu">
            <a href="">Novidades</a>
            <a href="./products.html">Products</a>
            <a href="">Kids e Baby</a>
            <a href="">Outlet 50% Off</a>
            <a href="">Sustentabilidade</a>
        </div>
    </div>

    <div id="bread_crumb">
        <a href="">Home > </a>
        <a href="">Kids e Baby > </a>
        <a class="highlight" href="">Sandália de dedo Chinela Temas Infantil</a>
    </div>

    <div id="emphasis">
        <div id="side_tiny">
            <img id="side_tiny_img01" class="selected" src="./images/chinela_perspec.png" alt="">
            <img id="side_tiny_img02" src="./images/chinela_top.png" alt="">
        </div>

        <div id="main_photo">
            <img id="main_photo_img" src="./images/chinela_perspec.png" alt="chinela">
        </div>
    </div>

    <div id="summary">

        <div id="title">
            <div class="title">Sandália de dedo Chinela Tema Infantil</div>
            <div class="cod">Cód. 2549</div>
        </div>

        <div id="payment">
            <div id="price">
                <div id="original_price">R$22,99</div>
                <div id="off_price">R$11,49</div>
            </div>
            <div id="parcel">
                <div>1x </div>
                <div class="highlight" >R$11,49 </div>
                <div>s/juros no cartãode crédito</div>
            </div>
        </div>

        <div id="colors">
            <div id="tag_collors">Cor</div>
            <div id="content_colors">
                <img class="colors_tiny" src="./images/pink.jpg" alt="">
                <img class="colors_tiny" src="./images/blue.jpg" alt="">
                <img class="colors_tiny selected" src="./images/chinela_perspec.png" alt="">
            </div>
            <div id="selected_color">Cor Cinza</div>
        </div>

        <div id="sizes">
            <div id="tag_sizes">Tamanho</div>
            <div id="content_sizes">
                <div class="size">23/24</div>
                <div class="size">25/26</div>
                <div class="size">27/28</div>
                <div class="selected_size selected">29/30</div>
                <div class="size">31/32</div>
                <div class="size">33/34</div>
            </div>
        </div>

        <button id="buy">Comprar</button>

        <div id="description">
            <div id="tag_description">Descrição</div>
            <div id="content_description">
                Com motivos que se conectam com o universo
                infantil, como o divertido circo e elementos
                estrada, como placas e sinais, o lançamento
                da Chinela Temas é garantia de sucesso entre
                os pequenos.
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="tag_enviroment">Menos impacto no planeta, mais acessível pra todos.</div>
        <div id="enviroment">
            <div class="susteinability">
                <img class="susteinability_image" src="./images/vegan.png" alt="vegan">
                <p>VEGANA</p>
            </div>
            <div class="susteinability">
                <img class="susteinability_image" src="./images/recycle.png" alt="recycle">
                RECICLÁVEL
            </div>
            <div class="susteinability">
                <img class="susteinability_image" src="./images/efficient.png" alt="efficient">
                FÁBRICA ECOEFICIENTE
            </div>
            <div class="susteinability">
                <img class="susteinability_image" src="./images/made_in_brazil.png" alt="made_in_brazil">
                FEITA NO BRASIL
            </div>
            <div class="susteinability">
                <img class="susteinability_image" src="./images/recycled.png" alt="recycled">
                EM MÉDIA 30% RECICLADA
            </div>
            <div class="susteinability">
                <img class="susteinability_image" src="./images/co2.png" alt="less_co2">
                BAIXA EMISSÃO DE CARBONO
            </div>
        </div>
    </div>

    <script src="./js/emphasis.js"></script>

</body>
</html>