<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chinela</title>
        
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="./styles/products.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    </head>
    
    <body>
        <div id="header">
            <div id="logo">Chinela</div>
            <div id="menu">
                <a href="">Novidades</a>
                <a href="">Sandálias</a>
                <a href="">Kids e Baby</a>
                <a href="">Outlet 50% Off</a>
                <a href="">Sustentabilidade</a>
            </div>
        </div>
    
        <div id="bread_crumb">
            <a href="./clone.html">Home > </a>
            <a class="highlight" href="">Products</a>
        </div>
    
        <main>
            
            <table id="products_list">
    
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Preço</th>
                        <th>Marca</th>
                    </tr>
                </thead>
    
                <tbody></tbody>
    
            </table>

        </main>
    
        <div id="footer">
            <div class="tag_enviroment">Menos impacto no planeta, mais acessível pra todos.</div>
            <div id="enviroment">
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/vegan.png" alt="vegan">
                    <p>VEGANA</p>
                </div>
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/recycle.png" alt="recycle">
                    RECICLÁVEL
                </div>
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/efficient.png" alt="efficient">
                    FÁBRICA ECOEFICIENTE
                </div>
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/made_in_brazil.png" alt="made_in_brazil">
                    FEITA NO BRASIL
                </div>
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/recycled.png" alt="recycled">
                    EM MÉDIA 30% RECICLADA
                </div>
                <div class="susteinability">
                    <img class="susteinability_image" src="./images/co2.png" alt="less_co2">
                    BAIXA EMISSÃO DE CARBONO
                </div>
            </div>
        </div>
        
    </body>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="http://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="./js/producs_list.js"></script>

</html>