<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curtas</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="./style_07.css">
</head>
<body>

    <video id="video_missao" controls src="./videos/missao_possivel.mp4" type="video/mp4"></video>
    
    <div id="text_missao">
        Vencedor Melhor Curta Projeto Cyan do Festival do Minuto, 
        com Troféu Minuto e Prêmio Aquisição AMBEV no valor de 
        R$4mil.br <br>
        Tito Ferradas (Fotografia, edição e pós produção)<br>
        Erick Krominski (Argumento e Produção)<br>
        Ludmilla (Roteiro e Produção)<br>
        Felipe (Argumento e Fotografia)<br>
        Simon Valadarez (Direção)<br>
        Mayara (Design de som)
    </div> 

    <div id="text_bridge">
        A Ponte é uma história sobre quatro personagens animais 
        tentando atravessar uma ponte, mas terminando como 
        obstáculos para o outro no processo. A moral por trás 
        desta história gira em torno de como muitas vezes há 
        divergências ou caminhos concorrentes na vida, e os 
        possíveis resultados de orgulho, obstinação e 
        compromisso.<br>
        Criado por Ting Chian Tey.<br>
        Produzido na Academy of Art University.
    </div>

    <video id="video_bridge" controls src="./videos/the_bridge.mp4" type="video/mp4"></video>

</body>
</html>