<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sonetos</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style_03.css">
</head>
<body>
    <section id="left">
        <p>
            Quando da bela vista e doce riso<br>
            Tomando estão meus olhos mantimento,<br>
            Tão enlevado sinto o pensamento,<br>
            Que me faz ver na terra o Paraíso.<br>
            <br>
            Tanto do bem humano estou diviso,<br>
            Que qualquer outro bem julgo por vento;<br>
            Assi[m] que, em caso tal, segundo sento,<br>
            Assaz de pouco faz quem perde o siso.<br>
            <br>
            Em vos louvar, Senhora, não me fundo,<br>
            Porque quem vossas cousas claro sente,<br>
            Sentirá que não pode conhecê-las.<br>
            <br>
            Que de tanta estranheza sois ao mundo,<br>
            Que não é de estranhar, Dama excelente,<br>
            Que quem vos fez fizesse céu e estrelas.<br>
        </p>
    </section>

    <section id="middle">
        <p>
            O fogo que na branda cera ardia<br>
            <br>
            O fogo que na branda cera ardia,<br>
            Vendo o rosto gentil que na alma vejo.<br>
            Se acendeu de outro fogo do desejo,<br>
            Por alcançar a luz que vence o dia.<br>
            <br>
            Como de dois ardores se incendia,<br>
            Da grande impaciência fez despejo,<br>
            E, remetendo com furor sobejo,<br>
            Vos foi beijar na parte onde se via.<br>
            <br>
            Ditosa aquela flama, que se atreve<br>
            Apagar seus ardores e tormentos<br>
            Na vista do que o mundo tremer deve!<br>
            <br>
            Namoram-se, Senhora, os Elementos<br>
            De vós, e queima o fogo aquela nave<br>
            Que queima corações e pensamentos.<br>
        </p>
    </section>

    <section id="right">
        <p>
            Amor, com a esperança já perdida<br>
            o teu sagrado templo visitei;<br>
            por sinal do naufrágio que passei,<br>
            em lugar dos vestidos, pus a vida.<br>
            <br>
            Que queres mais de mi, que destruída<br>
            me tens a glória toda que alcancei?<br>
            Não cures de forçar-me, que não sei<br>
            tornar a entrar onde não há saída.<br>
            <br>
            Vês aqui a alma, a vida e a esperança,<br>
            despojos doces do meu bem passado,<br>
            emquanto quis aquela que eu adoro.<br>
            <br>
            Neles podes tomar de mi vingança:<br>
            e, se ainda não estás de mi vingado,<br>
            contenta-te com as lágrimas que choro.<br>
        </p>
    </section>
</body>
</html>