body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    column-gap: 10px;
}

section {
    background-color: tomato;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 20px;
    color: white;
}