<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curtas</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="./style_08.css">
</head>
<body>

    <div>
        <video controls>
            <source src="./videos/missao_possivel.mp4" type="video/mp4">
        </video>
        <p>Missão Possível - melhor curta Festival do Minuto 2010</p>
    </div>

    <div>
        <video controls>
            <source src="./videos/the_bridge.mp4" type="video/mp4">
        </video>
        <p>The Bridge A Ponte - Curta Metragem de Animação</p>
    </div>

    <div>
        <video controls>
            <source src="./videos/brilhante.mp4" type="video/mp4">
        </video>
        <p>Brilhante - Curta Metragem de Animação (2021)</p>
    </div>

    <div>
        <video controls>
            <source src="./videos/o_paradoxo_da_espera_do_onibus.mp4" type="video/mp4">
        </video>
        <p>O Paradoxo da Espera do Ônibus - Curta metragem de Animação.</p>
    </div>

</body>
</html>