<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6 Lições</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style_04.css">
</head>
<body>

    <header>
        A Escola Austríaca de Economia é uma tradição de 
        pensamento econômico que se destaca por sua ênfase 
        nos princípios da liberdade individual, propriedade 
        privada e mercado livre. Originada na Áustria no 
        final do século XIX e início do século XX, esta 
        escola é liderada por figuras proeminentes como 
        Carl Menger, Ludwig von Mises e Friedrich Hayek. 
        Os austríacos rejeitam o positivismo e enfatizam a 
        importância da ação humana, argumentando que são as 
        escolhas e preferências individuais que moldam a 
        economia. Eles destacam o papel do empreendedorismo, 
        do cálculo econômico baseado nos preços de mercado e 
        da teoria subjetiva do valor. Além disso, criticam 
        severamente as intervenções governamentais na 
        economia, sustentando que tais interferências 
        distorcem os sinais de mercado e prejudicam a 
        eficiência e a liberdade econômica.
    </header>

    <section id="author">
        <img src="./images/mises.jpg" alt="mises">
        <p>
            Ludwig von Mises foi um renomado economista austríaco 
            do século XX, cujo trabalho teve um impacto 
            significativo no pensamento econômico e político. 
            Reconhecido por sua defesa fervorosa do liberalismo 
            clássico e da economia de mercado, Mises desenvolveu 
            teorias fundamentais sobre a natureza do dinheiro, o 
            cálculo econômico em uma sociedade complexa e os 
            efeitos danosos da intervenção governamental 
            na economia.
        </p>
    </section>

    <section id="summary">
        <H2>As Seis Lições</H2>
        <p>
            "As Seis Lições" é uma obra introdutória e 
            acessível escrita por Ludwig von Mises, um dos 
            principais pensadores da Escola Austríaca de 
            Economia. Em seu livro, Mises explora os 
            fundamentos da economia de mercado, destacando 
            a importância da liberdade individual e da 
            propriedade privada. Ele argumenta que a 
            intervenção governamental na economia 
            geralmente leva a consequências negativas, 
            como distorções de preços e alocação ineficiente 
            de recursos.
        </p>

        <p>
            Ao longo das seis lições, Mises apresenta 
            conceitos-chave, como a natureza do dinheiro, 
            os efeitos danosos do controle de preços, e a 
            necessidade de entender a função dos lucros e 
            perdas. Ele enfatiza a importância da concorrência 
            como um mecanismo vital para a melhoria contínua da 
            qualidade e eficiência dos produtos e serviços. 
            Além disso, Mises adverte contra as ilusões do 
            planejamento centralizado, destacando as falhas 
            inerentes aos sistemas que limitam a liberdade 
            econômica dos indivíduos.
        </p>

        <p>
            No cerne de "As Seis Lições", Mises oferece uma 
            defesa eloquente da economia de mercado como o 
            sistema mais eficiente para coordenar as 
            atividades econômicas e promover o bem-estar 
            geral. Seu livro serve como um guia conciso e 
            perspicaz para aqueles que desejam compreender 
            os princípios fundamentais do livre mercado e as 
            consequências das políticas intervencionistas. 
            Ao apresentar argumentos convincentes e exemplos 
            práticos, Mises demonstra como a liberdade 
            econômica pode levar a uma sociedade mais 
            próspera e livre.
        </p>

    </section>

</body>
</html>